button{
  border: solid;
  border-width: 0;
  border-radius: 15px;
  background-color: #ff962e;
  padding: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 14px;
  box-shadow: 5px 5px 5px #d3d3d3;
}

.active-filters{
  display: flex;
  flex-wrap:wrap;
  margin:0 1rem 1rem;
  gap:1rem;
}

.filter-only{
  display: flex;
  margin: 0.9rem;
  gap: 0.5rem;
}

select{
  width: 100%;
}

.filter-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.validate-button:hover{
  background-color: #D3D3D3;
  color:#090909;
}

@media screen and (min-width: 768px) {
  .filter-form{
    flex-direction: row;
    margin-bottom: 0;
  }
  .filter-only{
    gap: 1rem;
  }
}
