.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px -10px 14px 11px rgba(0, 0, 0, 0.56);
  position: sticky;
  top:0;
}

.logosearchbar {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 25vw;
  max-width: 6rem;
  margin: 0rem;
}
