.input-search-bar{
    background-image: url('../assets/loupe.png');
    background-size:5%;
    background-repeat: no-repeat;
    background-position:0.7rem center ;
    display:flex;
    align-items: center;
    padding:0.8rem 3rem;
    border:none;
    border-radius: 50px;
    font-size: large;
    margin-bottom: 1.4rem;
    font-family: var(--main-font-text); 
    background-color: #D3D3D3;
}