.input-search-bar {
  background-image: url("../assets/loupe.png");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.7rem center;
  display: flex;
  align-items: center;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 50px;
  font-size: large;
  font-family: var(--main-font-text);
  background-color: #d3d3d3;
  min-width: 60vw;
  min-height: 3vh;
}
