.display-main {
  font-family: "Roboto", sans-serif;
  color: #090909;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.hidden {
  display: none;
}

.caroussel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

img.cardstyle {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 0.7rem;
}

.rand {
  flex-wrap: wrap;
  gap: 1rem;
}

figure.card {
  padding: 4rem 0rem 0rem 0rem;
  scroll-snap-align: center;
}

.App {
  position: relative;
}
.display-cocktail {
  position: absolute;
  top: 0;
  left: -100vw;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(44, 133, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  left: 0;
}

.display-cocktail button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.display-cocktail img {
  width: 10rem;
  max-height: auto;
}
