.title {
  margin: 2rem 0.2rem 1.2rem 1rem;
  font-size: 1.3rem;
  color: #ff962e;
}

.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

.display-main {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #090909;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem 1rem;
}

.card {
  margin: 0rem 5rem 15px 5rem;
  border-radius: 0.7rem;
  box-shadow: 0px 3px 7px 0px rgba(58, 58, 58, 0.83);
}

img.cardstyle {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  box-shadow: 0px 0px 0px 0px rgba(58, 58, 58, 0.83);
  scroll-snap-align: center;
}

.titlecocktail {
  padding: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.rand {
  flex-wrap: wrap;
  gap: 1rem;
}

.display-cocktail img {
  width: 10rem;
  max-height: auto;
}

.cross {
  background: none;
  border: none;
  box-shadow: none;
  width: 1rem;
  position: sticky;
  top: 22%;
  transform: translateY(-50%);
}

.cross img {
  width: 2rem;
}

.content {
  display: flex;
  margin: 0rem 1rem 0rem 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
  box-shadow: 0px 3px 7px 0px rgba(58, 58, 58, 0.83);
  flex-direction: column;
  align-items: center;
  margin-top: 1.4vh;
  justify-content: space-between;
  gap: 0.8rem;
}

.cocktailpage {
  background-color: white;
}

.content img {
  width: 18rem;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.83);
}

ul {
  list-style: none;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  column-gap: 20vw;
  border-radius: 0.7rem;
  background-color: #ff962e;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.cocktail-name {
  text-align: center;
}

.ingredients {
  color: white;
  font-weight: normal;
}

.measurements {
  color: white;
  font-weight: normal;
}

.content p {
  margin-left: 2rem;
}

.list {
  font-weight: bolder;
}

.instructions {
  font-weight: 500;
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.7rem;
  text-shadow: 1px 1px 0.1px darkgrey;
  line-height: 1.4rem;
}

@media screen and (min-width: 768px) {
  .title {
    text-align: center;
  }
  .carousel-container::-webkit-scrollbar {
    height: 0.4rem;
  }
  .carousel-container::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    height: 0.4rem;
  }

  .carousel-container:nth-child(2) {
    overflow: hidden;
  }
  .display-main {
    gap: 4.7rem;
  }
}
