* {
  margin: 0;
  /*positioner la marge à 0*/
  padding: 0;
  /*positionner le bord à 0*/
  --main-color: #ff962e;
  /*couleur principal*/
  --main-font-text: "Roboto";
  box-sizing: border-box;
} 

body{
  background-color: #F5F5F5;
}
